/* shared style */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav style */
nav {
    padding: 45px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.gaming-icon {
    width: 5rem;
    height: 2.5rem;
}

.gaming-title {
    font-size: 2.5rem;
}

.nav-gradinet {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul {
    display: flex;
    margin-left: 220px;
}

nav ul li {
    list-style: none;
    margin-left: 150px;

}

.info-container {
    display: flex;
    align-items: center;
    background-color: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
    width: 200px;
    height: 45px;
    padding: 0.5rem;
    gap: 1.2rem;
}

/* banner style */
.banner-container {
    display: flex;
    gap: 150px;
}

.goat-container {
    padding-left: 130px;
    padding-right: 350px;
    background-image: url(./images/Group\ 14.png);
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 170px;
}

.play-like-tital {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.goat-tital {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6rem;
    font-weight: 700;
    margin-top: 10px;
}
.goat-btn-1 {
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    font-size: 1, 25rem;
    font-weight: 600;
    text-align: center;
    border: 0;
    color: #FFF;
    padding: 20px 20px;
}

.goat-btn-2 {
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: .8rem;
    font-weight: 600;
    text-align: center;
    padding: 20px 20px;
    border: 0;
    margin-left: 25px;

}

/* online game style */
.online-game-container {
    text-align: center;
}

.online-game-span1 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
}

.online-game-span2 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
}

.online-game-description {
    color: #534C64;
    font-size: 1.1rem;
}

/* online img style */
.online-img-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 50px;
}

/* play section style */
.play-section {
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
    align-items: center;
}
.play-tital {
    text-align: center;
}
.play-container {
    margin-left: 100px;
    margin-bottom: 250px;
}

.play-mini-img {
    position: relative;
    bottom: 300px;
    right: 170px;
}

.play-span1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
}

.play-span2 {
    font-size: 3rem;
    font-weight: 700;
    color: #0B0223;
}

.play-description {
    color: #534C64;
    font-size: 1.1rem;
}

/* button style */
.button-container,
button {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0 auto;
    gap: 10px;
}
.button-container {
    display: grid;
    align-items: center;
    justify-content: start;
    gap: 15px;
    grid-template-columns: repeat(5, 1fr);
}
.button-section {
    border-radius: 50px;
    padding: 10px;
    border: 2px solid white
}
.button-section:hover {
    border: 2px solid hotpink
}
.button-img {
    width: 50px;
    height: 50px;
}

.button-tital {
    color: #0B0223;
    font-size: 0.7rem;
    font-weight: 600;
}

/* footer style */
footer {

    background-color: #0B0223;
    padding: 50px 50px;
    margin-top: 130px;
    width: 100%;
    height: 430px;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 0.7rem;
    margin-top: 90px;
}

.footer-title {
    color: white;
    font-weight: 700;
    font-size: 2.7rem;
}

.footer-span {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-info ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.footer-info ul li {
    color: white;

    font-size: 0.6rem;
    font-weight: 400;
    list-style: none;
}

.footer-icon-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 2rem;
}

.footer-icon-btn {
    border: none;
    text-decoration: none;
}

.footer-social-icon>a {

    text-decoration: none;
}

.item ul li {

    color: rgba(255, 250, 250, 0.936);
    font-weight: 500;
    font-size: 0.5rem;
}

.footer-icon-style {
    color: rgb(247, 245, 245);
    background-color: #0B0223;
    font-size: 1.5rem;
    text-decoration: none;
}

.footer-discription {
    font-weight: 500;
    font-size: 0.6rem;
    text-align: center;
    color: rgba(254, 250, 250, 0.6);
    margin-top: 1.4rem;
}



/* responsive */
/* mobile-device */
@media screen and (max-width:576px){

}

/* tablet responsive */
@media screen and (min-width:576px) and (max-width:992px)  {
    
}